<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>{{ nginx_index_content | default('<h1>It works!</h1>') | safe }}</h1>
    <p>Served by <strong>{{ nginx_service }}</strong></p>
  </body>
</html>
